<div class="education__1">
  <h3><%= education.course%></h3>
  <div class="botpart">
    <div><span><i class='bx bx-buildings'></i></span> <%= education.institution%></div>
    <div><span><i class='bx bx-calendar'></i></span> <%= education.startDate%> - <%= education.endDate%></div>
  </div>
</div>