<%if (profile.profile == 'linkedin') { %>
  <div><span><i class='bx bxl-linkedin'></i></span><a href=<%= profile.url %>>linkedin</a></div>
<% } %>
<%if (profile.profile == 'instagram') { %>
  <div><span><i class='bx bxl-instagram'></i></span><a href=<%= profile.url %>>instagram</a></div>
<% } %>
<%if (profile.profile == 'github') { %>
  <div><span><i class='bx bxl-github'></i></span><a href=<%= profile.url %>>github</a></div>
<% } %>
<%if (profile.profile == 'facebook') { %>
  <div><span><i class='bx bxl-facebook'></i></span><a href=<%= profile.url %>>facebook</a></div>
<% } %>
