<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <title>Document</title>
</head>

<style>
  * {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }

  body {
    padding: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    padding: 0;
  }

  .date {
    font-size: 10px;
    color: #73808D;
  }

  .title {
    font-size: 8px;
    font-weight: bold;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }

  @page {
    size: 5.5in 8.5in;
  }

  .left-float {
    width: 70%;
    float: left;
    padding-right: 14px;
  }

  .right-float {
    width: 30%;
    float: right;
  }

  /* <--------<headerpart>------------>  */
  header {
    padding-bottom: 24px;
  }

  .header-text h1 {
    font-size: 24px;
    padding-bottom: 4px;
  }

  .header-text p {
    font-size: 18px;
  }

  /* <--------</headerpart>------------>  */


  /* <--------<bodypart>------------>  */

  /* <--------<left-float>------------>  */



  .experiences {
    padding-bottom: 16px;
  }

  .experiences h4 {
    font-size: 13px;
    font-weight: bold;
  }

  .experiences .org {
    font-size: 12px;
    padding: 4px 0;
  }

  .experiences .details {
    font-size: 13px;
    padding-top: 4px;
  }

  .experiences:last-child {
    padding-bottom: 24px;
  }

  .section-edu {
    padding-bottom: 24px;
  }

  .section-edu h4 {
    font-size: 13px;
    font-weight: bold;
  }

  .section-edu .college {
    font-size: 12px;
    padding: 4px 0;
  }

  .section-courses h4 {
    font-size: 13px;
    font-weight: bold;
  }

  .course-website {
    font-size: 12px;
    padding: 4px 0;
  }

  /* <--------</left-float>------------>  */

  /* <--------</bodypart>------------>  */



  /* <--------<right-float>------------>  */

  .contact-section div {
    font-size: 12px;
    color: #6A7581;
  }

  .contact-section span {
    padding-right: 4px;
  }

  .contact-section,
  .knowledge-section,
  .skill-section,
  .tool-section {
    padding-bottom: 16px;
  }

  .knowledge-section h5,
  .skill-section h5,
  .tool-section h5,
  .social-section h5 {
    font-size: 12px;
    color: #6A7581;
    padding-bottom: 8px;
    text-transform: capitalize;
  }

  .knowledge-section p,
  .skill-section p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    color: white;
    background-color: #6A7581;
    max-width: max-content;
    padding: 4px 10px;
    border-radius: 12px;
  }


  .tool-section p {
    border: 0.5px dotted #6A7581;
    color: #6A7581;
    font-size: 12px;
    border-radius: 8px;
    padding: 10px;
  }


  .social-section div {
    border: 1px solid #6A7581;
    max-width: max-content;
    border-radius: 20px;
    font-size: 12px;
    color: #6A7581;
    padding: 4px 8px;
    margin-bottom: 8px;
  }

  .social-section span {
    padding-right: 4px;
  }

  .social-section div:last-child,
  .knowledge-section p:last-child,
  .skill-section p:last-child {
    margin-bottom: 0px;
  }



  /* <--------</right-float>------------>  */
</style>

<body>
  <header>
    <div class="header-text">
      <h1>Your Name</h1>
      <p>Backend Developer</p>
    </div>
  </header>

  <div class="body-section">

    <div class="left-float">

      <div class="section-exp">
        <p class="title">Experience</p>
        <div class="experiences">
          <h4>Backend Developer</h4>
          <p class="org">Google</p>
          <p class="date">Aug 2018 - Present</p>
          <p class="details">
            Lead the UI design with the accountability of the design system,
            collaborated with product and development teams on core projects to
            improve product interfaces and experiences.
          </p>
        </div>
        <div class="experiences">
          <h4>Frontend Developer</h4>
          <p class="org">Bitsbeat</p>
          <p class="date">Aug 2018 - Present</p>
          <p class="details">
            Lead the UI design with the accountability of the design system,
            collaborated with product and development teams on core projects to
            improve product interfaces and experiences.
          </p>
        </div>
        <div class="experiences">
          <h4>Blockchain Engineer</h4>
          <p class="org">Leapfrog</p>
          <p class="date">Aug 2018 - Present</p>
          <p class="details">
            Lead the UI design with the accountability of the design system,
            collaborated with product and development teams on core projects to
            improve product interfaces and experiences.
          </p>
        </div>
      </div>

      <div class="section-edu">
        <p class="title">Education</p>
        <h4>Bachelor in Computer Science</h4>
        <p class="college">Thames International College</p>
        <p class="date">Aug 2018 - Present</p>
      </div>

      <div class="section-courses">
        <p class="title">Additional courses</p>
        <h4>Be a Fullstack Developer</h4>
        <p class="course-website">Udemy</p>
        <p class="date">Aug 2018 - Present</p>
      </div>

    </div>

    <div class="right-float">
      <div class="contact-section">
        <div><span><i class='bx bx-phone'></i></span> +977-9841647895</div>
        <div><span><i class='bx bx-envelope'></i></span> yours@gmail.com</div>
        <div><span><i class='bx bx-link'></i></span> www.website.com</div>
      </div>

      <div class="knowledge-section">
        <h5>Industry Knowledge</h5>
        <p>Product Design</p>
        <p>Debugging</p>
        <p>Wireframing</p>
        <p>User Experiences</p>
      </div>

      <div class="skill-section">
        <h5>Other Skills</h5>
        <p>HTML</p>
        <p>Css</p>
        <p>Javascript</p>
        <p>Node Js</p>
        <p>React Js</p>
      </div>

      <div class="tool-section">
        <h5>tools</h5>
        <p>Figma, Sketch, Protopie,
          Framer, Invision, Abstract, Zeplin, Google Analytics, Amplitude</p>
      </div>

      <div class="social-section">
        <h5>Socials</h5>
        <div><span><i class='bx bxl-instagram'></i></span> Insta</div>
        <div><span><i class='bx bxl-linkedin'></i></span> LinkedIn</div>
        <div><span><i class='bx bxl-twitter'></i></span> Twitter</div>
      </div>
    </div>
  </div>
</body>

</html>