<div class="">
    <h4><%= certification.institution%></h4>
    <p class="course-website"> 
      <span class="icon"><i class='bx bx-building-house'></i></span>
      <%= certification?.course %>
    </p>
    <p class="date">
      <span class="icon"><i class='bx bx-calendar'></i></span>
      <%= certification.startDate%> - <%= certification.endDate%>
    </p>
</div>