<div>
  <h4>
    <%= education.course %>
  </h4>
  <p class="college"> <span class="icon"><i class='bx bx-building-house'></i></span>
    <%= education.institution%>
  </p>
  <p class="date"> <span class="icon"><span class="icon"><i class='bx bx-calendar'></i></span>
      <%= education.startDate%> - <%= education.endDate%>
  </p>
</div>